.prengi {
    padding: 79px 0 80px 0;
    background-color: #ffffff;
    &__about {
        display: flex;
    }
    &__img {
        padding-left: 31px;
        &:first-child {
            padding-left: 0;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: #393939;
        text-align: center;
        margin-top: -70px;
        &-down {
            font-size: 18px;
            line-height: 26px;
            font-weight: 700;
            color: #393939;
        }
    }
    &__with {
        display: flex;
        justify-content: center;
        align-items: center;
        &-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            h2 {
                font-size: 48.1px;
                line-height: 30px;
                font-weight: 700;
                color: #393939;
            }
        }

    }


}