.tabs {
    background: url(../../img/bg2.png) center (center / cover) no-repeat;
    // height: 889px;
    padding: 79px 0 61px 0;
    .title {
        font-size: 30px;
        line-height: 35px;
        font-weight: 900;
        color: #ffffff;
        text-align: center;
    }
    .tab {
        margin-top: 25px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &__link {
            display: flex;
            border: 2px solid #ffffff;
            padding: 26px 33px 24px 33px;
            border-radius: 5px;
        }
        &__item {
            position: relative;
            list-style-type: none;
            padding-left: 30px;
            padding-right: 30px;
            &:before {
                position: absolute;
                content: '';
                border-right: 1px solid #c1c9c9;
                height: 60px;
                top: -70%;
                left: 0%;
            }
            &:first-child:before {
                content: '';
                border-right: 0px;
            }
        }
        &__linked {
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            color: #ffffff;
            text-decoration: none;
            &:hover {
                font-weight: 700;
                color: $main-color;
            }
        }
    }
    .macbook {
        display: block;
        text-align: center;
        margin-top: 36px;
    }
}
